.list-group-item {
    border: none;
}
/*讓標籤名稱可以在上面*/
.form-group label {
    display: block !important;
}

.title {
    margin-top: 30px;
}
/* Full-width input fields */
.selectBirthday {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.selectAddress {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}



input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
