@model Project0220.myModels.Order

@{
    ViewData["Title"] = "Create";
    Layout = null;
}

<!--引用-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- 引入fontawesome icon -->
<script src="https://kit.fontawesome.com/fcc6a42a47.js" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="~/images/GGLogo.png" width="268.5" height="81.75"
                 class="d-inline-block align-top" alt="">
        </a>
        <a class="navbar-brand" asp-controller="Products" asp-action="Index"><strong>管理者頁面</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" asp-controller="Categories" asp-action="Index">Categories</a>
                <a class="nav-link" asp-controller="Customers" asp-action="Index">Customers</a>
                <a class="nav-link" asp-controller="OrderDetails" asp-action="Index">OrderDetails</a>
                <a class="nav-link" asp-controller="Orders" asp-action="Index">Orders</a>
                <a class="nav-link" asp-controller="Products" asp-action="Index">Products</a>
                <a class="nav-link" asp-controller="Suppliers" asp-action="Index">Suppliers</a>
                <a class="nav-link fa-regular fa-paper-plane" asp-controller="Email" asp-action="SendAdEmail"></a>
                @{
                    var isAuthenticated = Context.Request.Cookies.ContainsKey("membercookie");
                }
                @if (isAuthenticated)
                {
                    <!-- 登出按鈕 -->
                    <form asp-controller="Customers" asp-action="Logout" method="post">
                        <button type="submit" class="nav-link" style="border:none;background:none;">
                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </form>
                }
            </div>
        </div>
    </div>
</nav>
<br>

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control">
                    <option value="" disabled selected hidden>請選擇類型</option>
                    <option value="轉帳">轉帳</option>
                    <option value="刷卡">刷卡</option>
                    <option value="Apple Pay">Apple Pay</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier" class="control-label"></label>
                <select asp-for="Carrier" class="form-control">
                    <option value="" disabled selected hidden>請選擇類型</option>
                    <option value="本公司配送">本公司配送</option>
                    <option value="大榮貨運">大榮貨運</option>
                    <option value="新竹貨運">新竹貨運</option>
                </select>
                <span asp-validation-for="Carrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingDate" class="control-label"></label>
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignee" class="control-label"></label>
                <input asp-for="Consignee" class="form-control" />
                <span asp-validation-for="Consignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
