@model Project0220.myModels.Order

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div class="row justify-content-center">
	<div class="col-md-6 mx-auto rounded border p-3">
		<form method="post" enctype="multipart/form-data">
			<h2 class="text-center mb-5">Edit Order</h2>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Order ID</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="OrderId" readonly>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Customer ID</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="CustomerId" asp-items="ViewBag.CustomerId">
					<span asp-validation-for="CustomerId" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Order Date</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="OrderDate">
					<span asp-validation-for="OrderDate" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Total Amount</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="TotalAmount">
					<span asp-validation-for="TotalAmount" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Payment Method</label>
				<div class="col-sm-8">
					<select class="form-control" asp-for="PaymentMethod">
						<option value="" disabled selected hidden>請選擇類型</option>
						<option value="轉帳">轉帳</option>
						<option value="刷卡">刷卡</option>
						<option value="Apple Pay">Apple Pay</option>
					</select>
					<span asp-validation-for="PaymentMethod" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Carrier</label>
				<div class="col-sm-8">
					<select class="form-control" asp-for="Carrier">
						<option value="" disabled selected hidden>請選擇類型</option>
						<option value="本公司配送">本公司配送</option>
						<option value="大榮貨運">大榮貨運</option>
						<option value="新竹貨運">新竹貨運</option>
					</select>
					<span asp-validation-for="Carrier" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Shipping Date</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="ShippingDate">
					<span asp-validation-for="ShippingDate" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Postal Code</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="PostalCode">
					<span asp-validation-for="PostalCode" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Shipping Address</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="ShippingAddress">
					<span asp-validation-for="ShippingAddress" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Consignee</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="Consignee">
					<span asp-validation-for="Consignee" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Contact Phone</label>
				<div class="col-sm-8">
					<input class="form-control" asp-for="ContactPhone">
					<span asp-validation-for="ContactPhone" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Status</label>
				<div class="col-sm-8">
					<select class="form-control" asp-for="Status">
						<option value="" disabled selected hidden>請選擇類型</option>
						<option value="已簽收">已簽收</option>
						<option value="配送中">配送中</option>
						<option value="取消訂單">取消訂單</option>
					</select>
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>
			</div>

			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" asp-action="Index" role="button">Back to List</a>
				</div>
			</div>
		</form>
	</div>
</div>



@* <h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderId" />
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId">
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="control-label"></label>
                <input asp-for="TotalAmount" class="form-control" />
                <span asp-validation-for="TotalAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" class="form-control">
                    <option value="" disabled selected hidden>請選擇類型</option>
                    <option value="轉帳">轉帳</option>
                    <option value="刷卡">刷卡</option>
                    <option value="Apple Pay">Apple Pay</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Carrier" class="control-label"></label>
                <select asp-for="Carrier" class="form-control">
                    <option value="" disabled selected hidden>請選擇類型</option>
                    <option value="本公司配送">本公司配送</option>
                    <option value="大榮貨運">大榮貨運</option>
                    <option value="新竹貨運">新竹貨運</option>
                </select>
                <span asp-validation-for="Carrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingDate" class="control-label"></label>
                <input asp-for="ShippingDate" class="form-control" />
                <span asp-validation-for="ShippingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAddress" class="control-label"></label>
                <input asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consignee" class="control-label"></label>
                <input asp-for="Consignee" class="form-control" />
                <span asp-validation-for="Consignee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
