@model Project0220.myModels.Supplier

@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}




<div class="row justify-content-center">
	<div class="col-md-6 mx-auto rounded border p-3">
		<form method="post" enctype="multipart/form-data">
			<h2 class="text-center mb-5">Create Supplier</h2>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">CompanyName</label>
				<div class="col-sm-8">
					<input class="form-control" required asp-for="CompanyName">
					<span asp-validation-for="CompanyName" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">ContactName</label>
				<div class="col-sm-8">
					<input class="form-control" required asp-for="ContactName">
					<span asp-validation-for="ContactName" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Phone</label>
				<div class="col-sm-8">
					<input class="form-control" required asp-for="Phone">
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
			</div>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">Email</label>
				<div class="col-sm-8">
					<input class="form-control" type=".+gmail.com" required asp-for="Email">
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
			</div>

			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Create</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" asp-action="Index" role="button">
						Back to List
					</a>
				</div>
			</div>
		</form>
	</div>
</div>

@* <h1>Create</h1>

<h4>Supplier</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="CompanyName" class="control-label"></label>
				<input asp-for="CompanyName" class="form-control" />
				<span asp-validation-for="CompanyName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ContactName" class="control-label"></label>
				<input asp-for="ContactName" class="form-control" />
				<span asp-validation-for="ContactName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Phone" class="control-label"></label>
				<input asp-for="Phone" class="form-control" />
				<span asp-validation-for="Phone" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
