@model IEnumerable<Project0220.myModels.Order>
@using Project0220.ViewModel;

<!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>
    <div class="container">
                <div class="row">
                    <div class="col-12">
    <div class="checkoutdone">
                @foreach (var order in Model)
                {
                        <h1 class="checkoutdone-01">謝謝您的訂購</h1>
                         <p class="checkoutdone-02">您的訂單編號:</p>
                         <p class="checkoutdone-03">@order.OrderId</p>
                         
                }

                          <div  style="text-align: center; margin-top:250px;">下單完成預計2天後送達<br>
                                12小時內可以修改您的訂單</div>
    <a class="cart-button01" style="margin-bottom:30px; margin-left:130px; color=white;" asp-controller="Customers" asp-action="Details">查詢您的訂單</a>
    </div>
   </div>
    </div>
     </div>

        <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>