@model Project0220.myModels.Order
@using Project0220.myModels


    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>
 <div class="row">
                    <div class="col">

                        <div class="page-banner text-left">
                            <h2 style="margin-top:30px;">收件資訊</h2>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">首頁</a></li>
                                <li>購物車</li>
                                <li>收件資訊</li>
                            </ul>
                        </div>

                    </div>
                </div>
    <div id="main-wrapper">
            <div class="container-01">
                <div class="row">
                    <div class="col-12">
                             <div class="checkoutdone">
                                    <!-- Billing Address -->

                                    <div id="billing-form" class="mb-10">
                                         <form asp-action="Create">
                                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="row">
                                            <div class="col-12">
                                    @{
                                        var cookie = Context.Request.Cookies.ContainsKey("membercookie");
                                    }
                                    
                                                 <label  asp-for="CustomerId" class="control-label">顧客ID*</label>
                                                 <input  asp-for="CustomerId" class="form-control" type="text" value="@cookie"/>
                                                <span  asp-validation-for="CustomerId" class="text-danger"></span>


                                                <label asp-for="Consignee" class="control-label">收件人*</label>
                                                 <input asp-for="Consignee" class="form-control" type="text" placeholder="請輸入收件人姓名或公司名稱" required/>
                                                <span asp-validation-for="Consignee" class="text-danger"></span>

                                            </div>

                                            <div class="col-12 mb-20" style="margin-top:19px; margin-button:19px;">
                                                 <label asp-for="ContactPhone" class="control-label">聯絡電話*</label>
                                                 <input asp-for="ContactPhone" class="form-control" type="text" placeholder="請輸入電話" required/>
                                                 <span asp-validation-for="ContactPhone" class="text-danger"></span>

                                            </div>

                                             <div class="col-12 mb-20">
                                                  <p>付款資訊*</p>
                                                  <select asp-for="PaymentMethod" class="control-label nice-select" id="paymentMethod"  required>
                                                      <option >請選擇使用付款方式</option>
                                                      <option asp-for="PaymentMethod" class="form-control" value="匯款">匯款</option>
                                                      <option asp-for="PaymentMethod" class="form-control" value="信用卡">信用卡</option>
                                                  </select>
                                              </div>

                                               <div class="col-12 mb-20">
                                                <p>配送資訊*</p>
                                                <select asp-for="Carrier"  class="control-label nice-select"  id="paymentMethod" required>
                                                    <option >請選擇配送貨運公司</option>
                                                    <option asp-for="Carrier" class="form-control">自行配送</option>
                                                    <option asp-for="Carrier" class="form-control">新竹貨運</option>
                                                    <option asp-for="Carrier" class="form-control">黑貓宅急便</option>
                                                </select>
                                            </div>

                                            <div class="col-12 mb-20">
                                                <label asp-for="PostalCode" class="control-label">郵遞區號*</label>
                                                <input asp-for="PostalCode" class="form-control" type="text" placeholder="請輸入郵遞區號" required/>
                                                <span asp-validation-for="PostalCode" class="text-danger"></span>
                                            </div>

                                            <div class="col-12 mb-20">
                                                <label asp-for="ShippingAddress" class="control-label">收件地址*</label>
                                                <input asp-for="ShippingAddress" class="form-control" type="text" placeholder="請輸入收件地址" required/>
                                                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
                                            </div>

                                             <div class="col-12 mb-20">
                                                <label asp-for="OrderDate" class="control-label">寄送日期</label>
                                                <input asp-for="OrderDate" class="form-control" placeholder="請選擇日期" min="@DateTime.Now.AddDays(2).ToString("yyyy-MM-dd")" required/>
                                                <span asp-validation-for="OrderDate" class="text-danger"></span>
                                            </div>
                                             <div class="cart-summary-button">
                                    @* 改類別名稱cart-button01 *@

                                        <button type="submit" value="Create" class="cart-button01" style="margin-left:150px;" asp-controller="CheckOut" asp-action="CheckOut"> 繼續結帳</button>

                                    </div> 
                                         </form>  

                        @* <div class="col-12 mb-20">
                                                <label  class="control-label">優惠券 </label>
                                                <input class="form-control" type="text"  style ="width: 150px;" placeholder="請輸入優惠碼">
                                            </div>
                                            <div>
                                                <button class=" cart-button0101" style="">確認</button>
                                            </div> *@

                                        </div>
                                    </div>
                                </div>
  <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
