body {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size:medium;
}
.area{
    font-size:x-large;
}
.oneBtn{
    display:flex;
    justify-content:center;
    padding-top:10px;
    padding-bottom:10px;
    border-color:black;
}
.oneBtn:hover{
    background-color:white !important;
}
.carousels{
    margin-top:5% !important;
}
.navnav{
   position:sticky;

}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff; /* 下拉菜单背景色 */
    padding: 10px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.countdown-red {
    color: red !important;
}
.OnlySales {
    color: red !important;
}
.col {
    color: aliceblue;
}
.UnitPr{
    font-size:x-large;
}
.NAV{
    font-size:x-large !important;
}