@model Project0220.myModels.Category

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row justify-content-center">
	<div class="col-md-6 mx-auto rounded border p-3">
		<form method="post" enctype="multipart/form-data">
			<h2 class="text-center mb-5">Edit Category</h2>

			<div class="row mb-3">
				<label class="col-md-4 col-form-label">CategoryName</label>
				<div class="col-sm-8">
					<input class="form-control" required asp-for="CategoryName">
					<span asp-validation-for="CategoryName" class="text-danger"></span>
				</div>
			</div>

			<input type="hidden" asp-for="CategoryId" />

			<div class="row">
				<div class="offset-sm-4 col-sm-4 d-grid">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
				<div class="col-sm-4 d-grid">
					<a class="btn btn-outline-primary" asp-action="Index" role="button">
						Back to List
					</a>
				</div>
			</div>
		</form>
	</div>
</div>

@* <h1>Edit</h1>

<h4>Category</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="CategoryId" />
			<div class="form-group">
				<label asp-for="CategoryName" class="control-label"></label>
				<input asp-for="CategoryName" class="form-control" />
				<span asp-validation-for="CategoryName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
