<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project0220</title>

    @* 公版套用格式在這 *@
    @*
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project0220.styles.css" asp-append-version="true" /> *@
    <!-- 引入 Bootstrap CSS，4.6.2版 -->
    <link rel="stylesheet" href="~/css/publiclayout/bootstrap.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <!-- 引入 jQuery，Bootstrap官網寫與JS4.6.2綑綁的jQuery版本為3.5.1，https://getbootstrap.com/docs/4.6/getting-started/introduction/ -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <!-- 引入 Bootstrap JavaScript，跟Bootstrap CSS同版本 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
    <!-- 引入fontawesome icon -->
    <script src="https://kit.fontawesome.com/fcc6a42a47.js" crossorigin="anonymous"></script>


    @* 公版套用格式在這 *@

    <link rel="stylesheet" href="~/css/All_product/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/All_product/css/helper.css">
    <link rel="stylesheet" href="~/css/All_product/css/plugins.css">
    <link rel="stylesheet" href="~/css/All_product/css/style.css">
    <link rel="stylesheet"  href="~/css/publiclayout/StyleSheet.css">
    <script src="~/js/All_product/js/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <header>
        @* 公版導航欄在這 *@
        @* 若要調整網頁最上行的nav部分<nav class=可以加入container，跟下面所有頁面對齊> *@
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/GGLogo.png" width="268.5" height="81.75"
                            class="d-inline-block align-top" alt=""></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Home" asp-action="Index">首頁<span class="sr-only">(current)</span></a>
                            </li>
@*                             <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown"
                                    aria-expanded="false">產品</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="AllItems" asp-action="Index" >沙發、桌、椅</a>
                                    <a class="dropdown-item" href="#">床櫃、五斗櫃、電視櫃、鞋櫃</a>
                                    <a class="dropdown-item" href="#">寢具、床架</a>
                                    <a class="dropdown-item" href="#">家飾、燈、地墊、香氛</a>
                                    <a class="dropdown-item" href="#">衛浴、浴盆</a>
                                <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">新品專區</a>
                                    <a class="dropdown-item" href="#">出清品專區</a>
                                </div>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AllItems" asp-action="Index">產品</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AllItems" asp-action="New">新品專區</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="AllItems" asp-action="Clearance" >出清品專區</a>
                            </li>
                            <form class="form-inline my-2 my-lg-0 mr-2" method="post" action="~/AllItems/Search">
                                <input class="form-control mr-sm-2" type="search" placeholder="搜尋您想找的物品"
                                    aria-label="Search" name="bee">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜尋</button>
                            </form>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Customers" asp-action="UserProfile"><i class="fa-regular fa-user"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Cart/index"><i class="fa-solid fa-cart-shopping"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="fa-solid fa-keyboard"></i></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>

        @* <nav
                class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Project0220</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                    asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav> *@

        @* 公版導航欄在這 *@


    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* 公版footer在這 *@
    <footer class="footer mt-auto py-3" style="background-color: #E4DBD2; color: #4A475C;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 ">
                    <h5><b>門市資訊</b></h5>
                    <ul class="list-unstyled">
                        <li>電話: 04-24521111</li>
                        <li>地址: 台中市南屯區公益路51號</li>
                        <li>Email: info@GplusplusG.com</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><b>客服中心</b></h5>
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink01"><i class="footer-link 01"></i>聯絡我們</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink02"><i class="footer-link 02"></i>常見問題</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink03"><i class="footer-link 03"></i>客戶意見回饋</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink04"><i class="footer-link 04"></i>隱私權及網站使用條款</a></li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5><b>付款方式</b></h5>
                    <ul class="list-unstyled">
                        <li><a asp-area="" asp-controller="Home" asp-action="FooterLink02"><i class="fa-solid fa-money-bill-transfer"></i> 轉帳</a></li>
                        <li><a><i class="fa-brands fa-cc-visa"></i> VISA</a></li>
                        <li><a><i class="fa-brands fa-cc-mastercard"></i> MASTERCARD</a></li>
                        <li><a><i class="fa-brands fa-cc-jcb"></i> JCB</a></li>
                        <li><a><i class="fa-brands fa-cc-amex"></i> AMEX</a></li>
                        <li><a><i class="fa-brands fa-cc-apple-pay"></i> APPLE PAY</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h5><b>社群媒體</b></h5>
                    <ul class="list-unstyled">
                        <li><a href="https://www.facebook.com/"><i class="fab fa-facebook"></i> Facebook</a></li>
                        <li><a href="https://www.youtube.com/"><i class="fab fa-youtube"></i> YouTube</a></li>
                        <li><a href="https://twitter.com/home"><i class="fab fa-twitter"></i> Twitter</a></li>
                        <li><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i> Instagram</a></li>
                    </ul>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="mb-0">Copyright &copy; 2024 居家家居 All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    @* 公版footer在這 *@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     <script src="~/js/All_product/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/All_product/js/popper.min.js"></script>
    <script src="~/js/All_product/js/bootstrap.min.js"></script>
    <script src="~/js/All_product/js/plugins.js"></script>
    <script src="~/js/All_product/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>