@model Project0220.myModels.Customer


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="logintitle">忘記密碼</h2><br />
            <form asp-action="ForgetPassword" method="post">

                <div class="form-group">
                    <label class="control-label" name="username" >請輸入使用者帳號</label>
                    <input type="text" class="form-control" name="username" />
                </div>

                <div class="form-group">
                    <label class="control-label" name="email">請輸入電子郵件</label>
                    <input type="email" class="form-control" name="email" />
                </div>
                <div class="form-group">
                <a asp-controller="Customers" asp-action="ForgetPassword"></a>
                <input type="submit" name="GetCode" value="取得驗證碼" style="background-color:#d4d4c5;font-weight:bold;">
                </div>
                @* @if (ViewData.ModelState.ContainsKey(""))
                {
                        <div class="alert alert-danger">
                        @ViewData.ModelState[""].Errors.FirstOrDefault()?.ErrorMessage
                        </div>
                }  *@
                

               @*  <div class="form-group">
                    <label class="control-label" name="verificationCode">請輸入信箱驗證碼</label>
                    <input type="text" class="form-control" name="verificationCode" />
                </div>

                <input type="submit" value="送出驗證碼" style="background-color:#d4d4c5;font-weight:bold;"> *@
            </form>
            <form method="post" action="EnterVerificationCode">
                    <div class="form-group">
                        <label for="verificationCode" class="control-label">請輸入驗證碼</label>
                        <input type="text" id="verificationCode" name="verificationCode" class="form-control" />
                    </div>
                    <input type="submit" value="送出驗證碼" style="background-color:#d4d4c5;font-weight:bold;">
                    @* <button type="submit" class="btn btn-primary">提交</button> *@
            </form>
        </div>
    </div>
</div>

@* @section scripts {
        <script>
            var VuePage = new Vue({
                el: '#VuePage',
                data: function () {
                    return {
                        form: {
                            CustomerId: ''
                        }
                    };
                },
                methods: {
                    // 寄送验证代码
                    SendMailToken: function () {
                        var self = this;

                        // 使用 jQuery Ajax 发送到后端
                        $.ajax({
                            url: '@Url.Action("ForgetPassword", "Customers")',
                            method: 'POST',
                            dataType: 'json',
                            data: { email: self.form.CustomerId, __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val() },
                            success: function (response) {
                                if (response.error) {
                                    $('#ErrorMsg').text(response.error);
                                    $('#ErrorAlert').modal('show');
                                } else {
                                    alert(response.message);
                                }
                            },
                            error: function (err) {
                                $('#ErrorMsg').html(err.responseText);
                                $('#ErrorAlert').modal('show');
                            }
                        });
                    }
                }
            });
        </script>
}
 *@