

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/Cart/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/iconfont.min.css">
    <link rel="stylesheet" href="~/css/Cart/css/helper.css">
    <link rel="stylesheet" href="~/css/Cart/css/plugins.css">
    <link rel="stylesheet" href="~/css/Cart/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
    <!-- Modernizr JS -->
    <script src="~/js/Cart/js/modernizr-2.8.3.min.js"></script>


    <div id="main-wrapper">

     
        <!-- Page Banner Section Start -->
@*         <div class="page-banner-section section bg-image" data-bg="assets/images/bg/breadcrumb.png">
            <div class="container">
 *@                <div class="row">
                    <div class="col">

                        <div class="page-banner text-left">
                            <h2 style="margin-top:30px;">購物車</h2>
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">首頁</a></li>
                                <li>購物車</li>
                            </ul>
                        </div>

                    </div>
                </div>
@*             </div>
        </div>
 *@        <!-- Page Banner Section End -->
        <!--Cart section start-->
        @* <div class="cart-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20"> *@
            <div class="container-01">
                <div class="row">

                    <div class="col-12">
                        <!-- Cart Table -->
                        <div class="cart-table table-responsive mb-30">
                            <table class="table" style="margin-top:30px;">
                                <thead>
                                    <tr>
                                        <th class="pro-thumbnail">圖片</th>
                                        <th class="pro-title">產品</th>
                                        <th class="pro-color">顏色</th>
                                        <th class="pro-quantity">數量</th>
                                        <th class="pro-subtotal">小計</th>
                                        <th class="pro-remove">刪除</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img src="~/images/All_product/A00130.jpg" alt="Product"></a></td>
                                        <td class="pro-title"><a href="#">AVEN三人座沙發</a></td>
                                        <td class="pro-color"><span>藍色</span></td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty"><input type="number" value="1"></div>
                                        </td>
                                        <td class="pro-subtotal"><span>$25.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img src="~/images/All_product/B00070.jpg" alt="Product"></a></td>
                                        <td class="pro-title"><a href="#">照明書櫃</a></td>
                                        <td class="pro-color"><span>木質色</span></td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty"><input type="number" value="1"></div>
                                        </td>
                                        <td class="pro-subtotal"><span>$25.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="pro-thumbnail"><a href="#"><img src="~/images/All_product/C00060.jpg" alt="Product"></a></td>
                                        <td class="pro-title"><a href="#">雙人軟墊床框附床頭板</a></td>
                                        <td class="pro-color"><span>粉色</span></td>
                                        <td class="pro-quantity">
                                            <div class="pro-qty"><input type="number" value="1"></div>
                                        </td>
                                        <td class="pro-subtotal"><span>$25.00</span></td>
                                        <td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="container-01">
                    <div class="row">
                    <div class="col-12">

                        <!-- Checkout Form Start-->
                        <div class="container-01">
                <div class="row">
                    <div class="col-12">

                        <!-- Checkout Form Start-->
                        <form action="#" class="checkout-form">
                            <div class="row row-40">

                                <div class="col-lg-7">

                                    <!-- Billing Address -->
                                    <div id="billing-form" class="mb-10">
                                        <h4 class="checkout-title">收件資訊</h4>

                                        <div class="row">

                                            <div class="col-md-6 col-12 mb-20">
                                                <label>收件人*</label>
                                                <input type="text" placeholder="請輸入收件人姓名或公司名稱">
                                            </div>

                                            <div class="col-md-6 col-12 mb-20">
                                                <label>電子郵件</label>
                                                <input type="email" placeholder="請輸入電子郵件">
                                            </div>

                                            <div class="col-md-6 col-12 mb-20">
                                                <label>聯絡電話*</label>
                                                <input type="text" placeholder="請輸入電話">
                                            </div>

                                            <div class="col-12 mb-20">
                                                <label>收件地址*</label>
                                                <input type="text" placeholder="請輸入收件地址">
                                            </div>

                                            <div class="col-md-6 col-12 mb-20">
                                                <label>配送資訊*</label>
                                                <select class="nice-select">
                                                    <option>請選擇配送貨運公司</option>
                                                    <option>自行配送</option>
                                                    <option>新竹貨運</option>
                                                </select>
                                            </div>

                                            <div class="col-md-6 col-12 mb-20">
                                                  <label>付款資訊*</label>
                                                  <select class="nice-select" id="paymentMethod">
                                                      <option value="none">請選擇使用付款方式</option>
                                                      <option value="匯款">匯款</option>
                                                      <option value="信用卡">信用卡</option>
                                                  </select>
                                              </div>

                                            <div class="col-md-6 col-12 mb-20">
                                                <label>優惠券 </label>
                                                <input type="text" placeholder="請輸入優惠碼">
                                            </div>
                                           
                                            <div class="col-md-6 col-12 mb-20">
                                                <button class="cart-button01" style="margin-top:38px;">確認</button>
                                            </div>
                                       
                                        </div>
                                    </div>
                                </div>
                                <!-- Cart Total -->
                                <div class="col-lg-5">
                                <div class="row">
                            <div class="col-12 mb-60 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-wrap">
                                        <h4>購物車總覽</h4>
                                        <p>AVEN三人座沙發 - 藍色 X 01<span>$25.00</span></p>
                                        <p>照明書櫃 - 木質色 X 01<span>$25.00</span></p>
                                        <p>雙人軟墊床框附床頭板 - 粉色 X 01<span>$25.00</span></p>
                                        
                                        <p  class="product-subtotal">小計 <span>$75.00</span></p>
                                        <p class="product-discound">折扣 <span>$75.00</span></p>
                                        <h2>總額 <span>$75.00</span></h2>
                                    </div>
                                    <div class="cart-summary-button">
                                                                @* 改類別名稱cart-button01 *@
                                        <button class="cart-button01">繼續購物</button>
                                        <button id="payment" class="cart-button01">繼續結帳</button>
                                    </div>
                                </div>
                            </div>
                           </div>
                           </div>
                        </form>                       
                    </div>
                </div>
            </div>
        
        <!--Cart section end-->
 
<script>
   
</script>
  


    <!-- All jquery file included here -->
    <script src="~/js/Cart/js/jquery-1.12.4.min.js"></script>
    <script src="~/js/Cart/js/popper.min.js"></script>
    <script src="~/js/Cart/js/bootstrap.min.js"></script>
    <script src="~/js/Cart/js/plugins.js"></script>
    <script src="~/js/Cart/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
