

@* <form id="paymentForm">
    <div>
        <label for="cardNumber">卡號:</label>
        <input type="text" id="cardNumber" value="@Model.CardNumber">
    </div>
    <div>
        <label for="expiryDate">到期日:</label>
        <input type="text" id="expiryDate" value="@Model.ExpiryDate">
    </div>
    <div>
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" value="@Model.CVV">
    </div>
    <div>
        <label for="cardHolderName">持卡人姓名:</label>
        <input type="text" id="cardHolderName" value="@Model.CardHolderName">
    </div>
    <button type="submit">提交</button>
</form> *@